<a href="https://colab.research.google.com/github/RogerCS17/portfolio-python/blob/main/Big%20Data/Spark/exercises_spark03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Acciones en un RDD

Operación que se aplica a un RDD y que devuelve un valor al driver program o realizar un efecto colateral, como escribir datos a un sistema de almacenamiento

In [1]:
# Se instala Spark
!pip install pyspark

# Se importa Spark
from pyspark.sql import SparkSession

# Se crea una sesión se Spark
spark = SparkSession.builder.getOrCreate()

# Se crea el SparkContext
sc = spark.sparkContext

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=918da535ba8246a86ea24c1b69a0c1f2e9302efc610342d9413454c21656d2fe
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
# Se crea un RDD
rdd = sc.parallelize([2,4,6,8,10])

# Se muestra el resultado
rdd.collect()

[2, 4, 6, 8, 10]

## Función Reduce

In [3]:
# Se aplica la función reduce al RDD
rdd.reduce(lambda x, y: x + y)

30

## Función Count

In [4]:
# Se aplica la función count al RDD
rdd.count()

5

## Función Collect

In [5]:
# Se aplica la función collect
rdd.collect()

[2, 4, 6, 8, 10]

## Función Take

In [6]:
# Se aplica la función take
rdd.take(2)

[2, 4]

## Función Max

In [7]:
# Se aplica la función max
rdd.max()

10

## Función saveAsTextFile

In [8]:
# Se aplica la función saveAsTextFile
rdd.saveAsTextFile("./rdd")

In [9]:
# Si se requiere guardar en una sola partición, se usa coalesce
rdd.coalesce(1).saveAsTextFile("./rdd_coalesce")

## Ejercicios

1. Cree un RDD llamado importes a partir del archivo adjunto a esta lección como recurso.

In [10]:
# Se importa los datos del archivo
rdd_text = sc.textFile("./num.txt")

# Se muestra el resultado
rdd_text.collect()

['70',
 '69',
 '16',
 '80',
 '85',
 '81',
 '93',
 '5',
 '78',
 '21',
 '13',
 '77',
 '93',
 '31',
 '16',
 '84',
 '64',
 '29',
 '45',
 '24',
 '64',
 '31',
 '2',
 '55',
 '51',
 '92',
 '72',
 '84',
 '22',
 '50',
 '17',
 '5',
 '96',
 '63',
 '67',
 '82',
 '52',
 '38',
 '86',
 '23',
 '90',
 '96',
 '53',
 '95',
 '10',
 '28',
 '75',
 '72',
 '67',
 '82',
 '40',
 '60',
 '34',
 '26',
 '47',
 '55',
 '10',
 '46',
 '86',
 '46',
 '64',
 '37',
 '31',
 '43',
 '74',
 '44',
 '87',
 '7',
 '54',
 '95',
 '43',
 '79',
 '79',
 '53',
 '62',
 '13',
 '37',
 '45',
 '40',
 '81',
 '50',
 '41',
 '30',
 '81',
 '27',
 '27',
 '49',
 '97',
 '73',
 '99',
 '77',
 '64',
 '47',
 '68',
 '8',
 '79',
 '13',
 '49',
 '75',
 '2',
 '23',
 '94',
 '21',
 '2',
 '10',
 '9',
 '19',
 '75',
 '7',
 '27',
 '55',
 '38',
 '10',
 '39',
 '73',
 '21',
 '81',
 '1',
 '61',
 '62',
 '5',
 '91',
 '68',
 '35',
 '81',
 '91',
 '34',
 '24',
 '63',
 '61',
 '32',
 '11',
 '74',
 '43',
 '98',
 '18',
 '25',
 '33',
 '31',
 '32',
 '42',
 '97',
 '11',
 '28',
 '14',
 '49',
 '34',
 '78',
 '50',
 '76',
 '25',
 '79',
 '61',
 '15',
 '57',
 '60',
 '61',
 '52',
 '94',
 '32',
 '30',
 '71',
 '16',
 '32',
 '26',
 '30',
 '42',
 '36',
 '45',
 '1',
 '91',
 '47',
 '19',
 '43',
 '71',
 '41',
 '95',
 '12',
 '64',
 '95',
 '51',
 '39',
 '55',
 '99',
 '12',
 '98',
 '97',
 '37',
 '25',
 '45',
 '36',
 '13',
 '63',
 '81',
 '16',
 '56',
 '33',
 '61',
 '31',
 '39',
 '84',
 '30',
 '97',
 '37',
 '29',
 '94',
 '76',
 '39',
 '62',
 '12',
 '97',
 '90',
 '50',
 '85',
 '25',
 '28',
 '35',
 '63',
 '25',
 '56',
 '43',
 '18',
 '57',
 '20',
 '62',
 '51',
 '63',
 '27',
 '82',
 '71',
 '24',
 '7',
 '70']

¿Cuántos registros tiene el RDD importes?

In [11]:
# Se aplica la función count() para saber los registros
rdd_text.count()

233

¿Cuál es el valor mínimo y máximo del RDD importes?

In [12]:
# Se aplica la función max() para hallar el máximo
rdd_text.max()

'99'

In [13]:
# Se aplica la función min() para hallar el máximo
rdd_text.min()

'1'

Cree un RDD top15 que contenga los 15 mayores valores del RDD importes. Tenga en cuenta que pueden repetirse los valores. Por último, escriba el RDD top15 como archivo de texto en la carpeta data/salida.

In [14]:
# Se extra los 15 mayores valores en una lista
list_top15 = rdd_text.top(15)

# Se crea un RDD para almacenar estos elemento
rdd_top15 = sc.parallelize(list_top15)

# Se muestra el resultado
rdd_top15.collect()

['99',
 '99',
 '98',
 '98',
 '97',
 '97',
 '97',
 '97',
 '97',
 '96',
 '96',
 '95',
 '95',
 '95',
 '95']

In [15]:
# Se guarda en un archivo de texto
rdd_top15.saveAsTextFile("./data/salida")

2. Cree una función llamada factorial que calcule el factorial de un número dado como parámetro. Utilice RDDs para el cálculo.

In [16]:
def factorial(n):
  if n == 0:
    return 1
  else:
    rdd_factorial = sc.parallelize(list(range(1,n+1)))
    return rdd_factorial.reduce(lambda x, y: x * y)
print(factorial(5))

120