<a href="https://colab.research.google.com/github/RogerCS17/portfolio-python/blob/main/Exercises/exercises_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicios de Lógica de Programacion en Python

## Ejercicio 01:
Sumar dos números y mostrar su resultado

In [1]:
# Declaramos las variables
number01 = 4
number02 = 10

# Variable que contendrá el resultado
resultado = number01 + number02

# Mostramos el resultado
print(f"La suma es: {resultado}")

La suma es: 14

## Ejercicio 02:
Calcular el área de un círculo con un radio dado

In [2]:
# Importamos math para el valor constante de PI
import math
PI = math.pi

# Definimos el radio
radio = 5

# Fórmula para hallar el área de un círculo
area = PI * radio * radio

# Mostramos el resultado
print(f"El valor del área es: {area}")

El valor del área es: 78.53981633974483

## Ejercicio 03:
Concantena dos cadenas de texto

In [3]:
# Definimos dos variables de texto
word01 = "Hello"
word02 = "world"

# Concantenamos con join
word = word01 + " " + word02

# Mostramos el resultado
print(f"La palabra concatenada es: {word}")

La palabra concatenada es: Hello world

## Ejercicio 04:
Crear una lista con diferentes elementos e imprimirla

In [4]:
# Definimos nuestra lista de nombres
array = {"Roger", "Omar", "Cabrera", "Silva"}

# Mostramos cada elemento de la lista
for element in array:
  print(element)

# Mostramos el resultado
print(array)

Omar
Cabrera
Roger
Silva
{'Omar', 'Cabrera', 'Roger', 'Silva'}

## Ejercicio 05:
Por consola, realiza una multiplicación de dos números y muestra el resultado

In [5]:
# Importamos la librería
import random as rnd

# Variables a multiplicar
number01 = rnd.randint(1,10)
number02 = rnd.randint(1,10)

# Resultado
result = number01 * number02

# Mostramos el resultado
print(f"El resultado de la multiplicación de {number01} y {number02} es: {result}")

El resultado de la multiplicación de 7 y 7 es: 49

## Ejercicio 06:
Crea una cadena de texto y muestra su longitud

In [6]:
# Variable de cadena de texto
word = "Roger"

# Con la función len, podemos hallar su longitud
print(f"La longitud de la cadena de texto es: {len(word)}")

# Podemos contar también iterando sobre la cadena
# Contador
counter = 0
for char in word:
  counter +=1

# Mostramos el resultado
print(f"La longitud de la cadena de texto es: {counter}")

La longitud de la cadena de texto es: 5
La longitud de la cadena de texto es: 5

## Ejercicio 07:
Calcula el promedio de una lista de números

In [7]:
# Definimos la lista con nuestros números
array_numbers = [10,20,30,40,50]

# Podemos usar de las funciones sum y len para resolver el ejercicio
average_array_numbers = sum(array_numbers) / len(array_numbers)

# Mostramos el resultado
print(f"El promedio de los números de la lista es: {average_array_numbers}")

# También se puede resolver de una manera más tradicional
sum_numbers = 0
total_numbers = 0
for number in array_numbers:
  sum_numbers += number
  total_numbers += 1
average_numbers = sum_numbers / total_numbers

# Mostramos el resultado
print(f"El promedio de los números de la lista es: {average_numbers}")

El promedio de los números de la lista es: 30.0
El promedio de los números de la lista es: 30.0

## Ejercicio 08:
Crea una tupla de números e imprímela

In [8]:
# Una tupla es una colección inmutable, es decir, no se puede modificar
# una vez ya se ha creado

# Creamos la tupla
array_tuple = (1,2,3,4,5)

# Mostramos el resultado
print(f"La tupla es: {array_tuple} y es de tipo {type(array_tuple)}")

La tupla es: (1, 2, 3, 4, 5) y es de tipo <class 'tuple'>

## Ejercicio 09:
Realiza la potencia de un número

In [9]:
# La potencia de un número es la multiplicacion del mismo número "n" tantas veces
# Definimos un número
number = 5

# Mostramos el resultado
print(f"El número al cuadrado es: {number * number}")

# También podemos usar de la librería math
import math
# El primero argumento es el número y el segundo argumento es la potencia
print(f"El número al cubo es: {math.pow(number, 3)}")

# También podemos hacer esto de una manera tradicional
counter = 1
pow_number = 1
while counter < 6:
  pow_number *= number
  counter += 1

# Mostramos el resultado
print(f"El número potenciado al 5 es: {pow_number}")

El número al cuadrado es: 25
El número al cubo es: 125.0
El número potenciado al 5 es: 3125

## Ejercicio 10:
Invertir una cadena de texto

In [10]:
# Definimos la cadena de texto a invertir
name = "Roger Omar Cabrera Silva"

# Una cadena de texto es un iterable y podemos invertirlo de una manera sencilla
# Mostramos el resultado
print(f"La cadena invertida es: {name[::-1]}")

La cadena invertida es: avliS arerbaC ramO regoR

## Ejercicio 11:
Calcula el área de un rectángulo en donde se pida el área y altura al usuario

In [11]:
# Importamos la librería
import random as rnd

# Definimos las variables
base = rnd.randint(1,10)
height = rnd.randint(1,10)

# Calculamos el área
area = base * height

# Mostramos el resultado
print(f"Base: {base}, Altura: {height} y el área del rectángulo es: {area:.2f}")

Base: 2, Altura: 2 y el área del rectángulo es: 4.00

## Ejercicio 12:
Convierte un número entero en cadena

In [12]:
# Definimos un número
number = 17

# Usamos el cast para transformar el número a string
word = str(number)

# Mostramos el resultado
print(f"El número a cadena es {word} y es de tipo {type(word)}")

El número a cadena es 17 y es de tipo <class 'str'>

## Ejercicio 13:
Reemplaza un caracter en una cadena

In [13]:
# Definimos nuestra cadena
word = "Hola"

# Para reemplazar uan cadena por otra, usamos replace()
word_changed = word.replace("o", "A")

# Mostramos el resultado
print(f"Cambiamos de {word} a {word_changed}")

Cambiamos de Hola a HAla

## Ejercicio 14:
Pasar una cadena de mayúsculas a minúsculas

In [14]:
# Definimos nuestra cadena en mayusculas
word_upper = "ROGER OMAR CABRERA SILVA"

# Convertimos nuestra cadena a minúsculas con lower()
word_lower = word_upper.lower()

# Mostramos el resultado
print(f"Cadena Original en mayúsculas: {word_upper}")
print(f"Cadena Original en minúsculas: {word_lower}")

Cadena Original en mayúsculas: ROGER OMAR CABRERA SILVA
Cadena Original en minúsculas: roger omar cabrera silva

## Ejercicio 15:
Ordena una lista de números de menor a mayor

In [15]:
# Definimos nuestra lista de números
array_numbers = [100,2,6,10,8,17,39,56]

# Podemos ordenarlo con el método sort()
array_numbers.sort()

# Mostramos el resultado
print(f"La lista ordenada es: {array_numbers}")

La lista ordenada es: [2, 6, 8, 10, 17, 39, 56, 100]

## Ejercicio 16:
Calcula 2 elevado a la 4° potencia sin utilizar el operador **

In [16]:
# Definimos las variables
number = 2
pow = 4

# Bucle while para hallar la potencia
counter = 1
result = 1
while counter < pow + 1:
  result *= number
  counter += 1

# Mostramos el resultado
print(f"El número {number} elevado a la {pow} potencia es: {result}")

El número 2 elevado a la 4 potencia es: 16

## Ejercicio 17:
Extrae una subcadena de una cadena dada

In [17]:
# Definimos nuestra cadena de texto
word = "Hay golpes en la vida, yo no sé"
searched_word = "golpes"

# Separamos la cadena en subcadenas
array_word = word.split(" ")

# Verificamos si la subcadena se encuentra
if searched_word in array_word:
  # Mostramos el resultado
  print(f"La subcadena extraída es: {searched_word}")
else:
  # Mostramos el resultado
  print(f"No se encontró la subcadena: {searched_word}")

La subcadena extraída es: golpes

## Ejercicio 18:
Convierte un número decimal a un número entero

In [18]:
# Definimos la variable decimal
decimal_number = 10.6

# Convertimos a entero con la función round()
print(f"El número decimal {decimal_number} a entero es: {round(decimal_number)}")

El número decimal 10.6 a entero es: 11

## Ejercicio 19:
Cuenta las ocurrencias de un carácter específico en una cadena:

In [19]:
# Definimos la cadena de texto
word = "Pienso, luego existo"
char = "o"

# Con el método count podemos hallar las ocurrencias del carácter
print(f"El carácter '{char}' en la cadena '{word}' esta presente: {word.count(char)} veces")

El carácter 'o' en la cadena 'Pienso, luego existo' esta presente: 3 veces

## Ejercicio 20:
Encuentra y muestra el último carácter de una cadena

In [20]:
# Definimos la cadena de texto
word = "No hay mejor bien en un hombre, que su propia voluntad"

# Con la indexación podemos hallar el último caracter
print(f"El último carácter de la cadena: '{word}' es: '{word[-1]}'")

El último carácter de la cadena: 'No hay mejor bien en un hombre, que su propia voluntad' es: 'd'

## Ejercicio 21 :
Multiplica una cadena por un número entero

In [21]:
# Definimos nuestra cadena
word = "Hola mundo"

# Mostramos el resultado
print(f"{word * 3}")

Hola mundoHola mundoHola mundo

## Ejercicio 22 :
Divide una cadena en una lista de subcadenas

In [22]:
# Definimos la cadena
name = "Roger Omar Cabrera Silva"

# Con el método split() podemos dividir la cadena en subcadenas
# Mostramos el resultado
print(f"{name.split(' ')}")

['Roger', 'Omar', 'Cabrera', 'Silva']

## Ejercicio 23 :
Verifica si una palabra es un palíndromo

In [23]:
# Definimos una variable con un palíndromo
words = ["reconocer", "rosa"]

# Lógica para saber si es un palíndromo
for word in words:
  if word == word[::-1]:
    # Mostramos el resultado
    print(f"La palabra {word} es palindromo")
  else:
    # Mostramos el resultado
    print(f"La palabra {word} no es palindromo")

La palabra reconocer es palindromo
La palabra rosa no es palindromo

## Ejercicio 24 :
Elimina un elemento específico de una lista

In [24]:
# Definimos nuestra lista
array_numbers = [1,2,3,4,5]

# Visualizamos la lista original
print(f"Lista original: {array_numbers}")

# Con el método remove() podemos eliminar un elemento de la lista
array_numbers.remove(3)

# Mostramos el resultado
print(f"Lista modificada: {array_numbers}")

Lista original: [1, 2, 3, 4, 5]
Lista modificada: [1, 2, 4, 5]

## Ejercicio 25 :
Genera una lista de números de 1 al 100

In [25]:
# Creamos una lista vacía
list_empty = []

# Con un ciclo for podemos crear la lista
for number in range(1,101):
  list_empty.append(number)

# Mostramos el resultado
print(f"{list_empty}")

# También podemos hacerlo con comprensión de listas
comprehension_list_empty = [x for x in range(1,101)]

# Mostramos el resultado
print(f"{comprehension_list_empty}")

# También otra manera es casteando el range() a una lista
list_range = list(range(1,101))
print(f"{list_range}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

## Ejercicio 26 :
Intercambia los valores de dos variables con asignación múltiple

## Ejercicio 27 :
Realiza operaciones básicas con conjuntos unión e intersección

## Ejercicio 28 :
Extrae un elemento específico de una tupla

## Ejercicio 29 :
Combina dos listas en pares usando la función zip()

## Ejercicio 30 :
Elimina duplicados de una lista

## Ejercicio 31 :
Pide un número y verifica si es positivo, negativo o cero

## Ejercicio 32 :
Pide un número y comprueba si el número es par o impar utilizado if y módulo

## Ejercicio 33 :
Determina si un año es bisiesto
Regla de negocio
- Divisible por 4
- No divisible por 100
- Divisible por 400

## Ejercicio 34 :
Verifica si una cadena es mayor o igual a 10 caracteres

## Ejercicio 35 :
Comprueba si un número está en el rango de 1 al 100

## Ejercicio 36 :
Pide un carácter y edetermina si es una vocal

## Ejercicio 37 :
Calcula el máximo de tres números

## Ejercicio 38 :
Determina si un número es divisible entre 5 y 7

## Ejercicio 39 :
Verifica si la palabra ingresada es python

## Ejercicio 40 :
Calcula el IMC e interpretarlo

## Ejercicio 41 :
Ingrese los número del 10 al 1 en orden descendente

## Ejercicio 42 :
Solicita al usuario ingresar un número N y luego imprime la suma de todos los números desde 1 hasta N

## Ejercicio 43 :
Solicita al usuario ingresar un número e imprime el factorial de ese número

## Ejercicio 44 :
Genera un número aleatorio entre 1 y 10. Luego, pide al usuario al adiviar el número hasta que lo haga correctamente

## Ejercicio 45 :
Imprime la tabla de multiplicar de un número ingresado por el usuario

## Ejercicio 46 :
Solicita al usuario ingresar un número y cuenta cuántos dígitos tiene

## Ejercicio 47 :
Hacer un menú de opciones que invluye la opción de salir del programa

## Ejercicio 48 :
Simular un lanzamiento de una moneda

## Ejercicio 49 :
Simular un lanzamiento de dado hasta obtener un 6

## Ejercicio 50 :
Mostrar los números del 1 al 100, pero reemplazando los múltiplos de 3 por "Fizz" y los múltiplos de 5 por "Buzz"

## Ejercicio 51 :
Imprimir los números del 1 al 5 con for

## Ejercicio 52 :
Sumar los números del 1 al 10 con for

## Ejercicio 53 :
Imprimir los elementos de una lista dada

## Ejercicio 54 :
Imprimir los carácteres de una cadena utilizando el ciclo for

## Ejercicio 55 :
Imprimir los números pares del 2 al 10 con ciclo for

## Ejercicio 56 :
Listar 10 números y calcular el cuadrado de cada uno e imprimirlos

## Ejercicio 57 :
Imprimir los números del 5 al 1 en orden descendente

## Ejercicio 58 :
Multiplicar todos los elementos de una lista por 2

## Ejercicio 59 :
Pedir al usuario el número e imprimir la tabla de multiplicar del mismo

## Ejercicio 60 :
Imprimir la suma de los números pares del 1 al 10 utilizando el ciclo for

## Ejercicio 61:
Crea una función para sumar dos números

## Ejercicio 62:
Crea una función para calcular el área de un círculo

## Ejercicio 63:
Crea una función para imprimir un mensaje de saludo

## Ejercicio 64:
Crea una función para verificar si un número es par o impar

## Ejercicio 65:
Crea una función para convertir de grados celsius a fahrenheit

## Ejercicio 66:
Crea una función para calcular el promedio de una lista de números

## Ejercicio 67:
Crea una función para calcular el volumen de un cilindro
V = PI * radio * 2 * altura

## Ejercicio 60:
Crea una función para sumar dos números

## Ejercicio 68:
Crea una función que pida por consola la distancia y velocidad para poder calcular el tiempo de viaje

## Ejercicio 70:
Crea una función para clasificar si una sustancia es ácida, básica o neutra a partir de su pH

## Ejercicio 71:
Crea una clase Rectángulo con los siguientes atributos:
- base, altura.
- Debe tener los siguientes métodos: __init__, calcular_area, calcular_perimetro

## Ejercicio 72:
Crea una clase Círculo con los siguientes atributos:
- radio: radio del círculo
- Métodos: init, calcular_area, calcular_perimetro

## Ejercicio 73:
Crea una clase Libro con los siguientes atributos:
- titulo, autor, editorial, año de publicación
- Métodos: contructor

## Ejercicio 74:
Crea una clase Persona con los siguientes atributos:
- nombre, edad, dni
- Métodos: init, es_mayor_de_edad

## Ejercicio 75:
Crea una clase Coche con los siguientes atributos:
- Marca, modelo, matrícula, km
- Métodos: init, avanzar(km)

## Ejercicio 76:
Crea una clase Animal con los siguientes atributos:
- especie, nombre
- Métodos: init, hablar

## Ejercicio 77:
Crea una clase Persona con los siguientes atributos:
- nombre, edad
- Contructor donde los datos están vacíos
- Métodos: Setters y Getters, mostrar, si es mayor de edad
-

## Ejercicio 78:
Crea una clase Persona y otra clase Estudiante
- Persona tiene: nombre, mostrar_nombre()
- La clase Estudiante debe heredar de la clase Persona y utilizar el método mostrar_nombre()

## Ejercicio 79:
Representa una cuenta bancaria con depósito y retiro, debe haber un titular y un saldo. Utilizar POO

## Ejercicio 80:
Obtener la cantidad de memoria ram en mi computadora o laptop